github_commit/src/main/mule/github_commit.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e1633e62-ae1d-4f81-b856-a6f77be09b84" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="github_commitFlow" doc:id="690ef4fc-6dfa-4222-9288-dfabda3b1113" >
		<http:listener doc:name="Listener" doc:id="b7744c8f-73d8-4c4f-93d0-b7cc56ad233d" config-ref="HTTP_Listener_config" path="/git"/>
		<set-payload value="#['Hello Morning']" doc:name="Set Payload" doc:id="5550a26e-7554-430c-8ea0-57e2fdd29e57" />
	</flow>
</mule>
